<head th:insert ="frags/head :: head"/>
<body >
  <header th:insert="header :: header"/>
  <main style="width: 500px;">
	 <h1>Crea una nuova Offerta:</h1>
	 
	 <form th:object = "${specialDiscount}" method="POST">
		 
		 <div class="mb-3">
			  <div th:replace="frags/errorsField :: errorDiv('startDate')" />
             <label for="startDate" class="form-label">Data inizio</label>
             <input type="date" class="form-control" name="startDate" th:field="*{formatStartDate}" >
         </div>
     
         <div class="mb-3">
			  <div th:replace="frags/errorsField :: errorDiv('endDate')" />
             <label for="endDate" class="form-label">Data fine</label>
             <input type="date" class="form-control" name="endDate" th:field="*{formatEndDate}" >
         </div>
     
         
         <div class="mb-3">
			  <div th:replace="frags/errorsField :: errorDiv('title')" />
             <label for="title" class="form-label">Nome offerta</label>
             <input type="text" class="form-control" name="title" th:field="*{title}" >
         </div>
     
             
         <div>
              <button class="btn btn-primary" type="submit" value="STORE">Crea</button>
         </div>
	 </form>
	 
   </main>
   
    <!-- Bootstrap Bundle with Popper -->
         <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>