<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
   <header th:fragment="header()">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
         <img th:src="@{/img/Pizza-logo.png}" alt="logo" style="width: 100px;">
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a  aria-current="page" 
                  th:insert = "fragment ::button('/', 'Home')"
                  style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1rem;">
                  Home
               </a>
               <a  aria-current="page" class="mx-3"
                  th:insert = "fragment ::button('/pizze/create', 'Crea la tua pizza')"
                  style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1rem;">
                  Crea la tua pizza
               </a>
               <div class="mx-4 m-auto">
				   <form class="d-flex" role="search">
                      <input class="form-control me-2" type="text" name="query" th:value="${query}" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit" >Search</button>
                   </form>
			   </div>
            </div>
         </div>
       </div>
     </nav>
   </header>
 </body>
<html>